# Python (FastAPI)
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
*.sqlite3
*.db
instance/
*.log

# VSCode
.vscode/

# Node/Vue
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.local

# OS
.DS_Store
Thumbs.db

# Others
*.bak
*.swp
.idea/

# Particular files
descriptive.py